@import "vars";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color-text;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.center {
  padding-left: calc(50% - $width / 2);
  padding-right: calc(50% - $width / 2);
}

.hidden {
  display: none;
}

.accent_text {
  color: $pink-600;
}

//.text_italic { TODO
//  font-style: italic;
//}

//.on-top-btn {  TODO
//  display: block;
//  position: fixed;
//  z-index: 11;
//  bottom: 85px;
//  right: 10px;
//  padding: 15px;
//  border-radius: 2px;
//  color: #fff;
//  background-color: $pink-500;
//  &:hover {
//    cursor: pointer;
//    filter: brightness(1.2) saturate(1.5);
//    transition: all 0.3s;
//  }
//}