@import "vars";
@import "fonts";
@import "mixins";

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  min-height: 182px;

  &__title {
    @include header-5(white);
  }

  &__form {
    display: flex;
  }

  &__input {
    max-width: 532px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 40px 0 0 0;
    padding: 30px 40px;
    margin-right: 40px;
    @include body-text-24(white);

    &::placeholder {
      color: white;
    }
  }

  &__btn {
    min-width: 200px;
    border-radius: 0 0 40px 0;
    padding: 20px 46px;
    background: $pink-600;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      background: $pink-500;
    }

    &:disabled {
      background: $pink-600;
    }
  }

  &__text {
    margin-top: 12px;
    @include widgets-comments(white);
  }
}


// Desktop view - middle point
@media (max-width: 1644px) {
  .subscribe-form {
    margin-right: 100px;

    &__input {
      max-width: 250px;
      margin-right: 20px;
      @include body-text-18(white);
    }
  }
}


// Tablet view
@media (max-width: 1200px) {

  .subscribe-form {
    align-items: center;
    margin-right: 80px;


    &__title {
      @include header-6(white);
    }

    &__form {
      flex-direction: column;
      gap: 20px;
    }

    &__input {
      max-width: 286px;
      height: 60px;
      margin-right: 0;
      font-size: 16px;

      &::placeholder {
        text-align: center;
      }
    }

    &__btn {
      height: 60px;
      padding: 0;
      transition: all 0.2s ease;

      &:active {
        background: $pink-500;
      }
    }

    &__text {
      margin-top: 12px;
    }
  }

}


// Mobile view
@media (max-width: 960px) {

  .subscribe-form {
    margin-right: 60px;
    max-width: 270px;

    &__form {
      gap: 16px;
    }

    &__text {
      margin-top: 12px;
    }
  }
}


// Mobile - middle point
@media (max-width: 768px) {
  .subscribe-form {
    //align-items: center;
    margin-right: 0;
    width: 100%;

    &__form {
      gap: 12px;
      min-width: 330px;
    }

    &__input {
      min-width: 330px;
      margin-right: 0;
    }

    &__text {
      text-align: center;
      margin-top: 12px;
      margin-bottom: 30px;
    }
  }
}