@import "vars";
@import "fonts";
@import "mixins";

.submit-button {
  border: none;
  border-radius: 40px 0 40px 0;
  font-family: 'blackberry', serif;
  font-size: 32px;
  line-height: 150%;
  transition: all 0.3s ease;
}

// Tablet view
@media (max-width: 1200px) {
  .submit-button {
    font-family: 'blackberry', serif;
    font-size: 26px;
    line-height: 185%;
  }
}