@import "vars";
@import "fonts";
@import "mixins";

.submit-button {
 width: 500px;
 align-self: center;
 border: none;
 border-radius: 40px 0 40px 0;
 padding: 20px 46px;
 margin-bottom: 200px;
 background: $pink-300;
 @include header-5($pink-900);
 transition: all 0.3s ease;

 &:hover {
  background: $pink-400;
 }

 &:disabled {
  background: $pink-200;
 }
}

// Mobile - middle point
@media (max-width: 768px) {

 .submit-button {
   width: 300px;
   @include header-6($pink-900);
 }
}


