$width: 1920px;  // change to 1920px  TODO

$black: #000000;

$pink-50: #fbf5f5;
$pink-100: #f8e8e8;
$pink-200: #f2d3d3;
$pink-300: #e9b8b8;
$pink-400: #db8e8e;
$pink-500: #ca6969;
$pink-600: #b44e4e;
$pink-700: #973e3e;
$pink-800: #7e3636;
$pink-900: #6a3232;
$pink-950: #381717;

$color-text: #381717;
$color-dark-text: #6a3232;

$first-family: "blackberry", sans-serif; // ??? TODO
$second-family: "Jost", sans-serif;
